.app{
  width: 100%;
  height: auto;
  /* background-color: red; */
  display: flex;
  margin: 0;
  padding: 0;
}

#login-page{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-form-container{
  width: 40%;
}

#sidebar{
  height: 5em;
  width: 17em;
}

#main-body{
  height: 100vh;
  width: calc(100%-13em);
  flex-grow: 1;
  background-color: #fff;
  border-left: 1px solid #dddddd;
}

#nav-row{
  width: 100%;
  height: auto;
  background-color: aqua;
  border-bottom: 1px solid #dddddd;
}

#body-row{
  height: auto;
  width: 100%;
  background-color: #fff;
}