body {
  margin: 0;
  font-family: "Gotham Rounded", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: #fff;
  width: 100%;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loader {
  position: absolute;
  right: 5px;
  width: 5em;
  height: 2em;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.loader div {
  width: 10px;
  height: 10px;
  border: 1px solid #000;
  border-radius: 50%;  
}

.ball-1 {
  animation: loader .9s infinite ease-in-out;
}
.ball-2 {
  animation: loader .9s infinite ease-in-out;
  animation-delay: .1s;
}
.ball-3 {
  animation: loader .9s infinite ease-in-out;
  animation-delay: .3s;
}

@keyframes loader {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    border: 1px solid red;
  }
}


.page-loader{
  position: fixed;
  background-color: #1b1a1a00;
  width: 80%;
  height: 80%;
  display: grid;
  place-items: center;
}

.p-loader{
  width: 10em;
  height: 4em;
  background-color: transparent;
  /* background-color: transparent; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.p-loader div{
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50%; 
}

.p-ball-1 {
  animation: loader .9s infinite ease-in-out;
}
.p-ball-2 {
  animation: loader .9s infinite ease-in-out;
  animation-delay: .1s;
}
.p-ball-3 {
  animation: loader .9s infinite ease-in-out;
  animation-delay: .3s;
}