#reset-password-form {
  width: 35em;
  min-height: 20em;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
}

#reset-password-form #form-title {
  font-size: 1.4rem;
  margin-bottom: 2em;
}

#reset-password-form button {
  border: 1px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2.4em;
}
